{% extends "base-web.html" %}
{% load markup %}
{% load i18n %}
{% block title %} - {% trans "Dependency" %} {{ object }}{% endblock %}
{% block location %}<a href="{% url system_detail object.module.system.pk %}">{% trans "System" %} {{ object.module.system.name }}</a> : <a href="{% url module_detail object.module.pk %}">{% trans "Module" %} {{ object.module.name }}</a> : {% trans "Dependency to" %} {{ object.interface }}{% endblock %}
{% block content %}
    <h2>{% trans "Dependency" %} <span class="super no-print"><a href="{% url admin:diagrama_dependency_history object.pk %}">{% trans "history" %}</a> <a href="{% url admin:diagrama_dependency_change object.pk %}">{% trans "edit" %}</a></span></h2>
    <div id="dependency-target">
        <h3>{% trans "Target Interface" %}</h3>
        <p><a href="{% url interface_detail object.interface.pk %}">{{ object.interface }}</a></p>
    </div>
    <div id="dependency-direction">
        <h3>{% trans "Direction" %}</h3>
        <p>{% if object.direction_inbound or object.direction_outbound %}{% if object.direction_inbound %}in{% endif %}{% if object.direction_outbound %}out{% endif %}{% else %}<em>No direction</em>{% endif %}</p>
    </div>
    <div id="dependency-description">
	    <h3>{% trans "Goal" %}</h3>
        {{ object.goal|default:"_No goal_"|markdown }}
    </div>
    <div id="dependency-documentation">
	    <h3>{% trans "Documentation" %}</h3>
        {{ object.documentation|default:"_No documentation_"|markdown }}
    </div>
    <div id="dependency-referents">
        <h3>{% trans "Referents" %}</h3>
        {{ object.referents|default:"_No referents_"|markdown }}
    </div>
    <div id="dependency-technology">
        <h3>Technology</h3>
        {{ object.technology|default:"_No technology_"|markdown }}
    </div>
{% endblock content %}
