{% extends "base-web.html" %}
{% load markup %}
{% load i18n %}
{% block title %} - {% trans "Interfaces" %}{% endblock %}
{% block content %}
    <h2>{% trans "Interfaces" %}</h2>
    {% if object_list %}
	    <table>
	       <thead>
	           <tr>
	               <th>{% trans "System" %}</th>
	               <th>{% trans "Module" %}</th>
	               <th>{% trans "Interface" %}</th>
	               <th>{% trans "Goal" %}</th>
	           </tr>
	       </thead>
	       <tbody>
	           {% for object in object_list %}
	           <tr>
	               <td><a href="{% url system_detail object.module.system.pk %}">{{ object.module.system.name }}</a>{% include 'third-party-object.html' with object=object.module.system %}</td>
	               <td><a href="{% url module_detail object.module.pk %}">{{ object.module.name }}</a>{% include 'third-party-object.html' with object=object.module %}</td>
	               <td><a href="{% url interface_detail object.pk %}">{{ object.name }}</a></td>
	               <td>{% if object.goal%}{{ object.goal|markdown }}{% else %}<em>{% trans "No goal" %}</em>{% endif %}</td>
	           </tr>
	           {% empty %}
	           <tr>
	                <td colspan="2">{% trans "No interfaces" %}</td>
	           </tr>
	           {% endfor %}
	       </tbody>
	    </table>
    {% else %}
       <em>{% trans "No modules" %}</em>
    {% endif %}
{% endblock content %}
