{% extends "base-web.html" %}
{% load markup %}
{% block title %} - Module {{ object }}{% endblock %}
{% block content %}
    <div class="location"><a href="{% url system_detail object.system.pk %}">System {{ object.system.name }}</a></div>
    <h2>Module <b>{{ object.name }}</b>{% include 'third-party-object.html' %}</h2>
    <div id="module-description">
	    <h3>Goal</h3>
        {{ object.goal|default:"_No goal_"|markdown }}
    </div>
    <div id="module-documentation">
	    <h3>Documentation</h3>
        {{ object.documentation|default:"_No documentation_"|markdown }}
    </div>
    <div id="module-referents">
        <h3>Referents</h3>
        {{ object.referents|default:"_No referents_"|markdown }}
    </div>
    <div id="module-interfaces">
	    <h3>Interfaces</h3>
	    <table>
	       <thead>
	           <tr>
	               <th>Name</th>
	               <th>Goal</th>
	               <th>Direction</th>
	           </tr>
	       </thead>
	       <tbody>
	           {% for interface in object.interfaces.all %}
	           <tr>
	               <td><a href="{% url interface_detail interface.pk %}">{{ interface }}</a></td>
	               <td>{{ interface.goalModule|default:"_No goal_"|markdown }}</td>
                   <td>{% if interface.direction_inbound %}in{% endif %}{% if interface.direction_outbound %}out{% endif %}</td>
	           </tr>
	           {% empty %}
	           <tr>
	             <td colspan="3" align="center">No Interfaces</td>
	           </tr>
	           {% endfor %}
	       </tbody>
	    </table>
    </div>
    <div id="module-dependencies">
        <h3>Dependencies</h3>
        <table>
           <thead>
               <tr>
                   <th>Dependency</th>
                   <th>Interface</th>
                   <th>Goal</th>
                   <th>Direction</th>
               </tr>
           </thead>
           <tbody>
               {% for dependency in dependencies %}
               <tr>
                   <td><a href="{% url dependency_detail dependency.pk %}">{{ dependency }}</a></td>
                   <td><a href="{% url interface_detail dependency.interface.pk %}">{{ dependency.interface }}</a></td>
                   <td>{{ dependency.goal|default:"_No goal_"|markdown }}</td>
                   <td>{% if dependency.direction_inbound %}in{% endif %}{% if dependency.direction_outbound %}out{% endif %}</td>
               </tr>
               {% empty %}
               <tr>
                 <td colspan="4" align="center">No dependencies</td>
               </tr>
               {% endfor %}
           </tbody>
        </table>
    </div>
{% endblock content %}
