{% extends "base-web.html" %}
{% load markup %}
{% load i18n %}
{% load diagrams %}
{% block title %} - {% trans "Module" %} {{ object }}{% endblock %}
{% block location %}<a href="{% url web:system_detail object.system.pk %}">{% trans "System" %} {{ object.system.name }}</a> : {% trans "Module" %} {{ object.name }}{% endblock %}
{% block content %}
    <h2>{% trans "Module" %} <b>{{ object.name }}</b> {% include 'object-controls.html' %}</h2>
    <div id="module-description">
	    <h3>{% trans "Goal" %}</h3>
        {% if object.goal%}{{ object.goal|markdown }}{% else %}<em>{% trans "No goal" %}</em>{% endif %}
    </div>
    <div id="module-documentation">
	    <h3>{% trans "Documentation" %}</h3>
        {% if object.documentation%}{{ object.documentation|markdown }}{% else %}<em>{% trans "No documentation" %}</em>{% endif %}
    </div>
    <div id="module-referents">
        <h3>{% trans "Referents" %}</h3>
        {% if object.referents %}{{ object.referents|markdown }}{% else %}<em>{% trans "No referents" %}</em>{% endif %}
    </div>
    <div id="module-interfaces">
	    <h3>{% trans "Interfaces" %}</h3>
	    {% with interfaces=object.interfaces.all %}
		    {% if interfaces %}
			    <table>
			       <thead>
			           <tr>
			               <th>{% trans "Name" %}</th>
			               <th>{% trans "Goal" %}</th>
			               <th>{% trans "Direction" %}</th>
			           </tr>
			       </thead>
			       <tbody>
			           {% for interface in interfaces %}
			           <tr>
			               <td><a href="{% url web:interface_detail interface.pk %}">{{ interface }}</a></td>
			               <td>{% if interface.goal %}{{ interface.goal|markdown }}{% else %}<em>{% trans "No goal" %}</em>{% endif %}</td>
		                   <td>{% if interface.direction_inbound %}in{% endif %}{% if interface.direction_outbound %}out{% endif %}</td>
			           </tr>
			           {% endfor %}
			       </tbody>
			    </table>
		    {% else %}
		       <em>{% trans "No interfaces" %}</em>
		    {% endif %}
	    {% endwith %}
    </div>
    <div id="module-dependencies">
        <h3>{% trans "Dependencies" %}</h3>
        {% if dependencies %}
	        <table>
	           <thead>
	               <tr>
	                   <th>{% trans "Dependency" %}</th>
	                   <th>{% trans "Target Interface" %}</th>
	                   <th>{% trans "Goal" %}</th>
	                   <th>{% trans "Direction" %}</th>
	               </tr>
	           </thead>
	           <tbody>
	               {% for dependency in dependencies %}
	               <tr>
	                   <td><a href="{% url web:dependency_detail dependency.pk %}">{{ dependency }}</a></td>
	                   <td><a href="{% url web:interface_detail dependency.interface.pk %}">{{ dependency.interface }}</a></td>
	                   <td>{{ dependency.goal|markdown }}</td>
	                   <td>{{ dependency|direction }}</td>
	               </tr>
	               {% endfor %}
	           </tbody>
	        </table>
        {% else %}
            <em>{% trans "No dependencies" %}</em>
        {% endif %}
    </div>
    <div id="module-diagram">
        <h3>{% trans "Diagram" %}</h3>
        {% diagram web:module_diagram object.pk %}
    </div>
{% endblock content %}
