{% extends "base-web.html" %}
{% load markup %}
{% load i18n %}
{% block title %} - {% trans "Modules" %}{% endblock %}
{% block content %}
    <h2>{% trans "Modules" %}</h2>
    {% if object_list %}
	    <table>
	       <thead>
	           <tr>
	               <th>{% trans "System" %}</th>
	               <th>{% trans "Module" %}</th>
	               <th>{% trans "Goal" %}</th>
	           </tr>
	       </thead>
	       <tbody>
	           {% for object in object_list %}
	           <tr>
	               <td><a href="{% url web:system_detail object.system.pk %}">{{ object.system.name }}</a>{% include 'third-party-object.html' with object=object.system %}</td>
	               <td><a href="{% url web:module_detail object.pk %}">{{ object.name }}</a>{% include 'third-party-object.html' %}</td>
                   <td>{% if object.goal%}{{ object.goal|markdown }}{% else %}<em>{% trans "No goal" %}</em>{% endif %}</td>
                </tr>
	           {% endfor %}
	       </tbody>
	    </table>
    {% else %}
       <em>{% trans "No modules" %}</em>
    {% endif %}
{% endblock content %}
