{% extends "base-web.html" %}
{% load markup %}
{% load diagrams %}
{% block title %} - Systems{% endblock %}
{% block content %}
    <h2>Systems</h2>
    {% if object_list %}
	    <table>
	       <thead>
	           <tr>
	               <th>Name</th>
	               <th>Description</th>
	           </tr>
	       </thead>
	       <tbody>
	           {% for object in object_list %}
	           <tr>
	               <td><a href="{% url system_detail object.id %}">{{ object.name }}</a>{% include 'third-party-object.html' %}</td>
	               <td>{{ object.description|default:"_No description_"|markdown }}</td>
	           </tr>
	           {% endfor %}
	       </tbody>
	    </table>
	{% else %}
	   <em>No systems</em>
	{% endif %}
	<h2>Diagrams</h2>
	<h3>System Dependencies</h3>
	{% diagram systems_dependency_diagram %}
{% endblock content %}
