{% extends "base-web.html" %}
{% load i18n %}
{% load markup %}
{% load i18n %}
{% load diagrams %}
{% block title %} - {% trans "Systems" %}{% endblock %}
{% block content %}
    <h2>{% trans "Systems" %}</h2>
    {% if object_list %}
	    <table>
	       <thead>
	           <tr>
	               <th>{% trans "Name" %}</th>
	               <th>{% trans "Description" %}</th>
	           </tr>
	       </thead>
	       <tbody>
	           {% for object in object_list %}
	           <tr>
	               <td><a href="{% url web:system_detail object.id %}">{{ object.name }}</a>{% include 'third-party-object.html' %}</td>
                   <td>{% if object.description %}{{ object.description|markdown }}{% else %}<em>{% trans "No description" %}</em>{% endif %}</td>
                </tr>
	           {% endfor %}
	       </tbody>
	    </table>
	{% else %}
	   <em>{% trans "No systems" %}</em>
	{% endif %}

    <h2>{% trans "Diagrams" %}</h2>
     <h3>{% trans "System Dependencies" %}</h3>
    {% diagram web:systems_dependencies_diagram %}
    <h3>{% trans "System Dependencies" %} {% trans "(no third-party)" %}</h3>
    {% diagram web:systems_no_thirdparty_dependencies_diagram %}
{% endblock content %}
