{% extends "base-web.html" %}
{% load markup %}
{% load i18n %}
{% load diagrams %}
{% block title %} - {% trans "System" %} {{ object }}{% endblock %}
{% block location %}{% trans "System" %} {{ object.name }}{% endblock %}
{% block content %}
    <h2>{% trans "System" %} <b>{{ object.name }}</b> {% include 'third-party-object.html' %} <span class="super no-print"><a href="{% url admin:diagrama_system_history object.pk %}">{% trans "history" %}</a> <a href="{% url admin:diagrama_system_change object.pk %}">{% trans "edit" %}</a></span></h2>
    <div id="system-description">
	    <h3>{% trans "Description" %}</h3>
        {{ object.description|default:"_No description_"|markdown }}
    </div>
    <div id="system-documentation">
	    <h3>{% trans "Documentation" %}</h3>
        {{ object.documentation|default:"_No documentation_"|markdown }}
    </div>
    <div id="system-referents">
        <h3>{% trans "Referents" %}</h3>
        {{ object.referents|default:"_No referents_"|markdown }}
    </div>
    <div id="system-modules">
	    <h3>{% trans "Modules" %}</h3>
	    {% with modules=object.modules.all %}
		    {% if modules %}
		    <table>
		       <thead>
		           <tr>
		               <th>{% trans "Module" %}</th>
		               <th>{% trans "Goal" %}</th>
		           </tr>
		       </thead>
		       <tbody>
		           {% for module in modules %}
		           <tr>
		               <td><a href="{% url module_detail module.pk %}">{{ module }}</a>{% include 'third-party-object.html' with object=module %}</td>
		               <td>{{ module.goal|default:"_No goal_"|markdown }}</td>
		           </tr>
		           {% endfor %}
		       </tbody>
		    </table>
		    {% else %}
		      <em>{% trans "No modules" %}</em>
		    {% endif %}
	    {% endwith %}
    </div>
    <div id="system-interfaces">
        <h3>{% trans "Interfaces" %}</h3>
        {% if interfaces %}
	        <table>
	           <thead>
	               <tr>
	                   <th>{% trans "Name" %}</th>
	                   <th>{% trans "Goal" %}</th>
	                   <th>{% trans "Direction" %}</th>
	               </tr>
	           </thead>
	           <tbody>
	               {% for interface in interfaces %}
	               <tr>
	                   <td><a href="{% url interface_detail interface.pk %}">{{ interface }}</a></td>
	                   <td>{{ interface.goal|default:"_No goal_"|markdown }}</td>
	                   <td>{% if interface.direction_inbound %}in{% endif %}{% if interface.direction_outbound %}out{% endif %}</td>
	               </tr>
	               {% endfor %}
	           </tbody>
	        </table>
        {% else %}
            <em>{% trans "No interfaces" %}</em>
        {% endif %}
    </div>
    <div id="system-dependencies">
        <h3>{% trans "Dependencies to other systems" %}</h3>
        {% if dependencies %}
            <table>
               <thead>
                   <tr>
                       <th>{% trans "Dependency" %}</th>
                       <th>{% trans "Dependent Module" %}</th>
                       <th>{% trans "Target Interface" %}</th>
                       <th>{% trans "Goal" %}</th>
                       <th>{% trans "Direction" %}</th>
                   </tr>
               </thead>
               <tbody>
                   {% for dependency in dependencies %}
                   <tr>
                       <td><a href="{% url dependency_detail dependency.pk %}">{{ dependency }}</a></td>
                       <td><a href="{% url module_detail dependency.module.pk %}">{{ dependency.module }}</a></td>
                       <td><a href="{% url interface_detail dependency.interface.pk %}">{{ dependency.interface }}</a></td>
                       <td>{{ dependency.goal|default:"_No goal_"|markdown }}</td>
                       <td>{% if dependency.direction_inbound %}in{% endif %}{% if dependency.direction_outbound %}out{% endif %}</td>
                   </tr>
                   {% endfor %}
               </tbody>
            </table>
        {% else %}
            <em>{% trans "No dependencies" %}</em>
        {% endif %}
    </div>
    <div id="system-dependencies">
        <h3>Dependencies from other systems</h3>
        {% if dependents %}
            <table>
               <thead>
                   <tr>
                       <th>Dependency</th>
                       <th>Dependent Module</th>
                       <th>Target Interface</th>
                       <th>Goal</th>
                       <th>Direction</th>
                   </tr>
               </thead>
               <tbody>
                   {% for dependency in dependents %}
                   <tr>
                       <td><a href="{% url dependency_detail dependency.pk %}">{{ dependency }}</a></td>
                       <td><a href="{% url module_detail dependency.module.pk %}">{{ dependency.module }}</a></td>
                       <td><a href="{% url interface_detail dependency.interface.pk %}">{{ dependency.interface }}</a></td>
                       <td>{{ dependency.goal|default:"_No goal_"|markdown }}</td>
                       <td>{% if dependency.direction_inbound %}in{% endif %}{% if dependency.direction_outbound %}out{% endif %}</td>
                   </tr>
                   {% endfor %}
               </tbody>
            </table>
        {% else %}
            <em>No dependencies</em>
        {% endif %}
    </div>
    <div id="system-diagram">
        <h3>{% trans "Diagram" %}</h3>
        {% diagram system_diagram object.pk %}
    </div>
{% endblock content %}
