/* estilos */

table.filtro {
	font-family: Arial;
	font-size: 12px;
	border: 1px solid #000000;
}

.par {
	background: #cdcdcd;	
}

table.filtro th {
	background: #eeeeee;
}

.header {
	background: #eeeeee;
}

.formato {
	font-family: Arial;
	font-size: 11px;
	width: 100%;
}

.form {
}

.ocultar {
	display: none;
}