{% extends "base.html" %}

{% block content %}
	<div class="botonera">
		<a id="ocultar" class="ocultar" href="#">Ocultar Filtro</a>
		<a id="mostrar" class="ocultar" href="#">Mostrar Filtro</a>
		<a href="{% url diagrama.views.download format view show minimized related %}">Descargar</a> 
	</div>

	<form action="filter" method="post">{% csrf_token %}
		<div class="form" id="form">
			<table class="filtro" id="filtro">
				<tr>
					<th rowspan="2">Nombre</th>
					<th>Mostrar</th>
					<th>Minimizado</th>
					<th>Relacionados</th>
				</tr>
				<tr class="header">
					<td><input type="checkbox" id="all_show"/></td>
					<td><input type="checkbox" id="all_minimized"/></td>
					<td><input type="checkbox" id="all_related"/></td>
				</tr>
				{% for system in systems %}
				<tr class="{% cycle 'par' 'impar' %}">
					<td>{{ system.name }}</td>
					<td><input type="checkbox" {% if system.show %}checked="checked" {% endif %}name="show_{{ system.id }}"/></td>
					<td><input type="checkbox" {% if system.minimized %}checked="checked" {% endif %}name="minimized_{{ system.id }}"/></td>
					<td><input type="checkbox" {% if system.related %}checked="checked" {% endif %}name="related_{{ system.id }}"/></td>
				</tr>
				{% endfor %}
			</table>
	
			<div class="formato">
				<div>
				{% for ct in contenttypes %}
				   <label for="{{ ct }}">
				   	{% if format == ct %}
				   	<input checked="checked" type="radio" name="formato" value="{{ ct }}" id="{{ ct }}">{{ ct }}</input>
				   	{% else %}
				   	<input type="radio" name="formato" value="{{ ct }}" id="{{ ct }}">{{ ct }}</input>
				   	{% endif %}
				   </label>
				{% endfor %}
				</div>
				<div>
				{% for v,l in views %}
				   <label for="{{ v }}">
				   	{% if view == v %}
				   	<input checked="checked" type="radio" name="view" value="{{ v }}" id="{{ v }}">{{ l }}</input>
				   	{% else %}
				   	<input type="radio" name="view" value="{{ v }}" id="{{ v }}">{{ l }}</input>
				   	{% endif %}
				   </label>
				{% endfor %}
				</div>
				<input type="submit" value="Actualizar"/>
			</div>
		</div>
	</form>
	
   {% if not empty %}
   <img src="{% url diagrama.views.show format %}" usemap="#{{ mapname }}"/>
   {{ cmap|safe }}
   {% endif %}
   
	<script>
		window.addEvent('domready', function() {
			var myVerticalSlide = new Fx.Slide('form');
		  
			$('mostrar').addEvent('click', function(event){
				event.stop();
				$('mostrar').toggleClass('ocultar')
				$('ocultar').toggleClass('ocultar')
				myVerticalSlide.slideIn();
			});

			$('ocultar').addEvent('click', function(event){
				event.stop();
				$('mostrar').toggleClass('ocultar')
				$('ocultar').toggleClass('ocultar')
				myVerticalSlide.slideOut();
			});

			{% if not empty %}
			myVerticalSlide.hide()
			$('mostrar').toggleClass('ocultar')
			{% else %}
			$('ocultar').toggleClass('ocultar')
			{% endif %}
		});

		$('all_show').addEvent('click', function(){toggle(this.checked, 'show_');});
		$('all_minimized').addEvent('click', function(){toggle(this.checked, 'minimized_');});
		$('all_related').addEvent('click', function(){toggle(this.checked, 'related_');});

		function toggle(checked, prefix) {
			elements = $('filtro').getElements('input');
			for (var i = 0; i < elements.length; i++) {
				if (elements[i].name.indexOf(prefix) == 0) {
					elements[i].checked = checked
				}
			}
		}
	</script>
{% endblock %}
