<html>
	<head>
		<!--META http-equiv="Content-Type" content="text/html; charset=UTF-8"/-->
		<title>Macom Browser</title>
		<script type="text/javascript">var isomorphicDir="{% url media 'isomorphic/' %}";</script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_Core.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_Foundation.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_Containers.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_Grids.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_Forms.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/system/modules/ISC_DataBinding.js' %}"></script>
		<script type="text/javascript" src="{% url media 'isomorphic/skins/Enterprise/load_skin.js' %}"></script>
		<script type="text/javascript" src="{% url script_template 'app.js' %}"></script>
		<style type="text/css">
		  body { background-color: #CDF }
		  .header {
		      font-size: 20pt;
		      font-family: monospace;
		      font-weight: bold;
		      padding-left: 20px;
		  }
		</style>
	</head>
	<body>
		<script type="text/javascript">
			startApp();
		</script>
	</body>
</html>
