<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Macom Browser</title>
		<script>var isomorphicDir="{% url media 'isomorphic/' %}";</script>
		<script src="{% url media 'isomorphic/system/modules/ISC_Core.js' %}"></script>
		<script src="{% url media 'isomorphic/system/modules/ISC_Foundation.js' %}"></script>
		<script src="{% url media 'isomorphic/system/modules/ISC_Containers.js' %}"></script>
		<script src="{% url media 'isomorphic/system/modules/ISC_Grids.js' %}"></script>
		<script src="{% url media 'isomorphic/system/modules/ISC_Forms.js' %}"></script>
		<script src="{% url media 'isomorphic/system/modules/ISC_DataBinding.js' %}"></script>
		<script src="{% url media 'isomorphic/skins/Enterprise/load_skin.js' %}"></script>
		<style type="text/css">
		  body { background-color: #CDF }
		  .header {
		      font-size: 20pt;
		      font-family: monospace;
		      font-weight: bold;
		      padding-left: 20px;
		  }
		</style>
	</head>
	<body>
	    <script src="{% url script_template 'app.js' %}"></script>
	</body>
</html>
