{% load i18n %}
<!DOCTYPE html>

<html>

	<head>
    	<title>Macom{% block title %}{% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="{% url media 'css/web-styles.css' %}"/>
	</head>

	<body>
	
		<div id="header">
		    <span class="title">macom</span>
		    <span class="logo"><img src="{% url media 'img/grass.png' %}"/></span>
		</div>
	
        <div id="shortcuts" class="no-print">
           <ul>
               <li><a href="{% url system_list %}">{% trans "Systems" %}</a></li>
               <li><a href="{% url module_list %}">{% trans "Modules" %}</a></li>
               <li><a href="{% url interface_list %}">{% trans "Interfaces" %}</a></li>
           </ul>
        </div>
        
        <div id="location">{% block location %}:){% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>

    </body>

</html>
